# Cloudflare Workers Sites Configuration
# Worker name: hey

name = "hey"
compatibility_date = "2025-04-01"
main = "workers-site/index.js"

[build]
command = "npm run build"

[site]
bucket = "./dist"
